@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
}

* {
  box-sizing: border-box;
}

header {
  padding: 35px 50px;
  background-image: url(bg-hero-desktop.svg);
  height: 630px;
  background-color: hsl(193, 100%, 96%);
}

.first-flex_box {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 18px;
}

.second_button {
  /* display: block; */
  padding: 12px 60px;
  border-radius: 25px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.third_alike-button {
  /* display: block; */
  padding: 25px 110px;
  border-radius: 37px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  box-shadow: 1px 3px 10px rgb(178, 175, 175);
}

.second_button:hover {
  box-shadow: 1px 3px 10px gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.first_link {
  text-decoration: none;
  display: block;
  padding: 11px 50px;
  border-radius: 20px;
  box-shadow: -1px 4px 12px hsl(208deg 15% 66%);
  background-color: #fff;
  font-size: 13px;
  color: hsl(192, 100%, 9%);
  font-weight: bold;
}

.second-flex_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medium-alternate_box {
  /* width: 800px; */
  height: 430px;
  box-shadow: 0px -1px 11px 0px hsl(192deg 8% 91%);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
  /* padding:0px 50px; */
}

section {
  padding: 30px 60px;
}

.last-medium_box {
  display: flex;
  justify-content: center;
}

.the_middle_box {
  text-align: center;
  padding: 30px;
  width: 750px;
  line-height: 2.7;
  height: 270px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px -17px 6px 0px rgb(247 245 245);
  margin-bottom: -100px;
}

footer {
  background-color: hsl(192, 100%, 9%);
  padding: 30px 40px;
  height: 500px;
}

.footer_text {
  margin-top: 100px;
  padding: 26px 36px;
  color: #f1f1f1;
  /* opacity: 0.9; */

}

.footer-flex {
  display: flex;
  justify-content: space-between;
  color: #f1f1f1;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: 400;
  padding: 25px 0px;
}

.none {
  display: none;
}

.copyright {
  float: right;
  text-align: right;
  font-size: 13px;
  opacity: 0.9;
}

@media screen and (max-width:800px) {
  header {
    background-image: url(bg-hero-mobile.svg);
    height: fit-content;
  }

  .second-flex_box {
    flex-direction: column;
  }

  .none {
    display: block;
  }

  .illustration {
    width: 100%;
  }

  .brnone {
    display: none;
  }

  .textbox {
    text-align: center;
  }

  .medium-alternate_box {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .last-medium_box {
    padding: 0 1.5rem;

  }

  .the_middle_box {
    height: fit-content;
    line-height: 2.0;
    padding-bottom: 3rem;
  }

  .copyright {
    text-align: center;
    float: none;display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-flex {
    flex-direction: column;
    line-height: 1.4;
  }

  .the_middle_box h1 {
    font-size: 30px;
  }

  footer {
    height: fit-content;
  }.third_alike-button{padding: 10px 35px;}
}